* {
  margin: 0;
  padding: 0;
}

.planets {
  width: 700px;
  height: 600px;
}
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}

.pnames {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: black;
}

.facts {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: black;
}

.lefty {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 4rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}

.righty {
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 4rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
